{% extends "network/layout.html" %}

{% block body %}
    <h2 id="header">{{ u }}</h2>
    <div>
        Followers: {{ followers }}
    </div>
    <div class="mb-3">
        Following: {{ following_usr }}
    </div>

    {% if user.is_authenticated %}
        <form action="{% url 'user_page' user=u.id %}" method="post">
            {% csrf_token %}
            {% if u.id != visitor.id %}
                {% if following %}
                    <button type="submit" class="btn btn-primary" name="action" value="unfollow">Unfollow</button>
                {% else %}
                    <button type="submit" class="btn btn-primary" name="action" value="follow">Follow</button>
                {% endif %}
            {% endif %}
        </form>
    {% endif %}

    <hr>
    <p>Posts by {{ u }}</p>

    {% for post in posts %}
        <div class="card mb-3">
            <div class="card-header">
                <a href="#">{{ post.user }}</a>
            </div>
            <div class="card-body">
                <!-- <h5 class="card-title">Special title treatment</h5> -->
                <p class="card-text">{{ post.content }}</p>
                <p class="card-text">&#128156 {{ post.likes }}</p>
                <footer class="blockquote-footer">{{ post.timestamp}}</footer>
            </div>
            <div class="mb-3 padding">
                {% if user.id == post.user.id %}

                <textarea id="textArea{{ post.id }}" class="form-control mb-3" style="display: none;">{{ post.content }}</textarea>
                <button id="saveBtn{{ post.id }}" class="btn btn-primary mb-3" style="display: none;" onclick="editPost({{ post.id }})">Save</button>

                <button type="button" class="btn btn-primary mb-3" id="editBtn{{ post.id }}" onclick="showEdit({{ post.id }})">Edit</button>
                
                {% endif %}

                {% if post.id in likes %}
                    <button class="btn btn-primary mb-3" id="likeBtn{{ post.id }}" onclick="dislike({{ post.id }})">Dislike</button>
                {% else %}
                    <button class="btn btn-primary mb-3" id="likeBtn{{ post.id }}" onclick="like({{ post.id }})">Like</button>
                {% endif %}

            </div>
        </div>
    {% endfor %}

    <hr>

    <div>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if posts.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}">Previous</a></li>
                {% endif %}
                {% if posts.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}">Next</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>

{% endblock %}